
* {
    box-sizing: border-box;
}
body{
    font-family: Verdana, sans-serif;
    text-decoration: none;
    max-width: 1370px;
    width: 100%;
    margin: 0 auto;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* HEADER START */
.header {

}

.container {
    max-width: 1064px;
    width: 100%;
    padding: 0 40px;
    margin: 0 auto;
}

.container-name{
    padding-top: 47px;
    padding-bottom: 100px;
}
.logo{
    float: left;
}

.logo_hover {
    display: none;
}

.logo_container:hover .name {
    color: rgb(242, 101, 34);
}

.logo_container:hover .logo_simple {
    display: none;
}

.logo_container:hover .logo_hover {
    display: block;
}


.name{
    width: 105px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    float: left;
    padding-left: 15px;
}

.name1{
    padding-top: 0.9px;
    font-size: 27px;
    font-weight: 900;
    letter-spacing: 2px;
       
}
.name2{
    font-family: Verdana;
    font-size: 18px;
    font-weight: 600;
}
.contact{
    padding-top: 10px;
    text-decoration: none;
    float: right;
    font-family: Verdana;
    font-size: 18px;
    color: rgb(255, 255, 255);
    font-weight: 400;
}
.contact:hover{
    color: rgb(242, 101, 34);
}
/* HEADER END */

/* TOURS CATEGORY START */

.container-tours{

}

.tours-list {
    margin:  0 auto;
    overflow: hidden;
}
.tours-item {
    width: 33.33%;
    height: 204px;
    text-align: center;
    float: left;
    margin-bottom: 95px;
    padding: 20px;
    text-decoration: none;
}

.tours-item:nth-child(3n){
    margin-right: 0;
}

.tour-pic{
    max-width: 312px;
    width: 100%;
    height: auto;
    margin-bottom: 23px;
    box-shadow: 6px 6px 16px 6px black;
}

.tour-name{
    font-family: Verdana;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-transform: capitalize;
    }

.tours-item:hover .tour-name{
    color: rgb(242, 101, 34);
}

/* TOURS CATEGORY END */

/* FOOTER START */
footer{
    text-align: center;
}

.footer{
    font-family: Verdana;
    font-size: 12px;
    color: rgb(255, 255, 255);
    padding-bottom: 25px;
}

/* FOOTER END */
